/* general */

hr {
    width: 103.85%;
    margin-left: -1.2rem;
}

.modal-header {
    flex-direction: row-reverse;
}

.content-container {
    min-height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* profile/_form */

.controller, .block {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.block:last-child {
    margin-bottom: 0;
}

.btn-outline-danger {
    padding: 0.25rem 0.6rem;
}

ol.actions > li {
    margin-bottom: 2px;
}

/* rbac-block-update */

.rbac-block-update .card:not(:last-child) {
    margin-bottom: 1rem;
}
